<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userLogin.css">
    <link rel="stylesheet" href="/css/regUser.css">
    <link rel="stylesheet" href="/css/userHome.css">
    <title>ums</title>
</head>
<body>
    <%- body %>
</body>
</html>